:root {
  --primary-color: #66af68;
  --secondary-color: #6b8e5d;
  --background-color: #f5f5f5;
  --text-color: #333;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --font-family-sans: "Helvetica Neue", Arial, sans-serif;
  --font-family-mono: "Courier New", Courier, monospace;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-size-small: 14px;
  --spacing-base: 20px;
  --spacing-large: 40px;
  --spacing-small: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.content {
  padding: var(--spacing-base);
}

.lang-icon {
  width: 25px;
  height: 15px;
  background-image: url("/images/lang-flags.png");
}

.lang-icon-ru {
  background-position: -225px -255px;
}
.lang-icon-en {
  background-position: -450px -60px;
}
.lang-icon-fr {
  background-position: -500px -90px;
}
.lang-icon-ka {
  background-position: -175px -150px;
}
