.content {
  margin: 20px 60px;
  line-height: 1.6;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.offer {
  padding: 20px 20px 20px;
  background-color: var(--background-light);
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  line-height: 1.2;
}

.list {
  margin: 0 20px;
}

.validAnswerWrap {
  text-align: right;
}

.validAnswer {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--text-second);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 3px 10px;
  cursor: pointer;
  border: none;
}

@media (max-width: 800px) {
  .content {
    margin: 20px 30px;
  }
}
