:root {
  --primary-color: #66af68;
  --secondary-color: #6b8e5d;
  --background-color: #F5F5F5;
  --text-color: #333;
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --font-family-sans: 'Helvetica Neue', Arial, sans-serif;
  --font-family-mono: 'Courier New', Courier, monospace;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-size-small: 14px;
  --spacing-base: 20px;
  --spacing-large: 40px;
  --spacing-small: 10px;
}

.page {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--spacing-base);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
