@import '../styles/theme.module.css';

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: calc(var(--spacing-base) * 2 + 48px); /* Adjust for header height */
  padding-bottom: calc(var(--spacing-base) * 2 + 48px); /* Adjust for footer height */
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main ol {
  font-family: var(--font-family-mono);
  padding-left: 0;
  margin: 0;
  font-size: var(--font-size-small);
  line-height: 1.5;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: var(--spacing-small);
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: var(--spacing-small);
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: var(--spacing-base);
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 var(--spacing-base);
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  line-height: 1.25;
  font-weight: 500;
}

a.primary {
  background: var(--primary-color);
  color: var(--background-color);
  gap: var(--spacing-small);
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  display: flex;
  gap: var(--spacing-base);
  margin-top: var(--spacing-base);
}

.footer a {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.footer img {
  flex-shrink: 0;
}

.link {
  display: inline-block;
  margin-top: var(--spacing-base);
  padding: var(--spacing-small) var(--spacing-base);
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.link:hover {
  background-color: var(--secondary-color);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: var(--spacing-base);
    padding-bottom: var(--spacing-large);
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: var(--font-size-small);
    height: 40px;
    padding: 0 var(--spacing-small);
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
