.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-base);
  background-color: var(--background-color);
}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  font-weight: bold;
}

.langSelector {
  margin-left: auto;
}
