@import '../../styles/theme.module.css';

.header {
  background-color: var(--background-color);
  padding: var(--spacing-base);
  font-family: var(--font-family-sans);
  margin-top: 0;
  margin-bottom: var(--spacing-base);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.link {
  margin-right: var(--spacing-base);
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
