@import '../styles/theme.module.css';

.footer {
  background-color: var(--background-color);
  padding: var(--spacing-base);
  text-align: center;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-small);
  color: var(--text-color);
}
