.footer {
  padding: var(--spacing-base);
  background-color: var(--background-color);
  text-align: center;
  border-top: 1px solid var(--gray-alpha-200);
  font-size: var(--font-size-small);
  color: var(--text-color);
}

.footer p {
  margin: 0;
}
